* {
	box-sizing: border-box;
	border: none;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: system-ui, sans-serif;
	font-weight: normal;
	margin: 0;
}

main {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.actions-container {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
}

button {
	font-family: sans-serif;
	font-weight: 700;
	color: var(--text);
}

button:hover {
	cursor: pointer;
}

.actions-container>button {
	aspect-ratio: 1;
	width: 56px;
	font-size: var(--h3);
	border-radius: 25%;
	flex-shrink: 0;
	
	transition: 200ms ease-out;

	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

.actions-container>button:hover {
	border-radius: 0;
}

input {
	background-color: rgba(0 0 0 / 0.25);
	padding: 0.75em 1.5em;
	border-radius: 14px;
	color: var(--text)
}

#master_password_input {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
}

.primary-btn {
	background-color: rgba(from var(--primary) r g b / 0.7);
}

.secondary-btn {
	background-color: rgba(from var(--secondary) r g b / 0.7);
}

.sources-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	gap: 16px;
	width: 100%;
	padding: 32px 0;
}

.sources-header>h3 {
	margin: 0;
}

.sources-header>input {
	max-width: 50%;
}

dialog {
	background-color: var(--background);
	color: var(--text);
	border-radius: 28px;
	padding: 28px;
	max-width: 500px;
	width: 90%;
}

dialog::backdrop {
	backdrop-filter: blur(4px);
	background-color: #1818187f;
}

#new_entry_dialog>form {
	display: flex;
	flex-direction: column;
	gap: 36px;
	font-size: var(--h5);
	font-weight: 700;
}

form>label {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.form-actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 16px;
}

#new_entry_dialog button {
	width: 80px;
	height: 40px;
}

#sources_container {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.password-source {
	background-color: rgba(from var(--secondary) r g b / 0.15);
	width: 100%;
	padding: 16px 32px;
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	gap: 32px;
	row-gap: 16px;
	flex-wrap: wrap;
	overflow-wrap: break-word;
	align-items: center;
}

.password-source>*:last-child {
	margin-left: auto;
}

.password-source>h5 {
	margin: 0;
	max-width: 100%;
}

.inline-buttons {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.password-source button {
	width: 80px;
	flex: 0 1 200px;
	min-width: 0;
	aspect-ratio: 2;
	font-size: var(--p);
	border-radius: 10px;
}


h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

:root {
	--font-scale: 1.25;
	--p: 1rem;
	--h5: calc(var(--p) * var(--font-scale));
	--h4: calc(var(--h5) * var(--font-scale));
	--h3: calc(var(--h4) * var(--font-scale));
	--h2: calc(var(--h3) * var(--font-scale));
	--h1: calc(var(--h2) * var(--font-scale));
	--small: calc(var(--p) / var(--font-scale));
}

/* Theme. Generate at www.realtimecolors.com/ */
@media (prefers-color-scheme: light) {
	:root {
		--text: #072222;
		--background: #e9fbfa;
		--primary: #15706f;
		--secondary: #76a4e5;
		--accent: #2339b8;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #ddf8f8;
		--background: #041615;
		--primary: #90eae8;
		--secondary: #1a4889;
		--accent: #475ddc;
	}
}